/* Color palette */
.results-wrapper {
  background-color: #fafaf9; /* Off White background for the section */
}

.bg-subtle-beige {
  background-color: #f0ebd8 !important;
}

.text-dark-gray {
  color: #374151 !important; /* Headings, primary text */
}

.text-soft-gray {
  color: #74523b !important; /* Secondary text */
}
.bg-bold-green {
  background-color: #7f867b !important;
  border-color: #2d7d32;
}
.btn-bold-green {
  background-color: #7f867b !important;
  border-color: #2d7d32;
}

.btn-bold-green:hover,
.btn-bold-green:focus {
  background-color: #74523b;
  color: white;
  border-color: black;
}

.searched-word {
  font-size: 2rem;
  font-weight: 600;
}

/* Responsive text scaling and padding tweaks if needed */
@media (max-width: 576px) {
  .card-body {
    padding: 1rem;
  }

  .card-text {
    font-size: 0.95rem;
  }
}
